@font-face {
  font-family: 'FixelDisplay';
  src: url('./webfonts/FixelDisplay-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FixelTextMedium';
  src: url('./webfonts/FixelText-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'FixelTextRegular';
  src: url('./webfonts/FixelText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 