.button {
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-md);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-default);
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: var(--font-family-medium);
}

.button.primary {
  border: none;
  color: white;
  background-color: var(--color-primary);
}

.button.secondary {
  color: var(--color-text-tertiary);
  background-color: white;

  border: 1px solid var(--color-border);
}

.button.allWidth {
  width: 100%;
}

.button:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}

.button.secondary:hover:not(:disabled) {
  background-color: var(--color-background-light);
}

.button.l {
  height: 60px;
  font-size: var(--font-size-md);
}

.button.m {
  height: 44px;
  font-size: var(--font-size-sm);
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #D0D5DD;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
