:root {
  --color-primary: #087443;
  --color-primary-hover: #074a34;
  --color-primary-light: #73E2A3;
  --color-primary-lighter: #D3F8DF;

  --color-text-primary: #101828;
  --color-text-secondary: #667085;
  --color-text-tertiary: #344054;
  --color-text-light: #475467;

  --color-border: #D0D5DD;
  --color-background-light: #F2F4F7;

  --font-family-regular: 'FixelTextRegular';
  --font-family-medium: 'FixelTextMedium';

  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 36px;

  --spacing-xs: 6px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 48px;

  --border-radius-md: 6px;
  --border-radius-lg: 12px;

  --container-padding: 20px;
  --container-max-width: 1120px;

  --transition-default: 0.3s ease;
}